<launch>  
<node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=laser_range_finder/scan" output="screen">
    <param name="linearUpdate" value="0.1" />
    <param name="angularUpdate" value="0.05" /> 
    <param name="xmin" value="-20" />   
    <param name="ymin" value="-20" />
    <param name="xmax" value="20" />    
    <param name="ymax" value="20" />
    <param name="maxUrange" value="6" />        
  </node>
</launch>
