<launch>
<!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find move_scout)/maps/final.yaml" output="screen"/>


<!--- Run Hokuyo Laser -->
 <include file="$(find mapping_scout)/launch/hokuyo.launch" />

<!--- Run Scouty -->
 <include file="$(find scout_launch)/scout.launch" />

<!--- Run AMCL -->
 <include file="$(find mapping_scout)/launch/amcl.launch" />

<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find move_scout)/info/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find move_scout)/info/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find move_scout)/info/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find move_scout)/info/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find move_scout)/info/base_local_planner.yaml" command="load" ns="TrajectoryPlannerROS"/> 
</node>
</launch>



